name: Superman (North America)
sha1: c271db752610c9581e1ba1e9125ea8ecdb56f74f
options:
  basename: superman
  target_path: baserom.us.z64
  elf_path: build/superman.elf
  base_path: ../..
  platform: n64
  compiler: IDO

  asm_path: asm
  src_path: src
  asset_path: bin
  build_path: build
  create_asm_dependencies: True
  asm_emit_size_directive: True
  disasm_unknown: True

  ld_script_path: build/superman.us.ld
  ld_dependencies: True
  ld_sections_allowlist:
    - .shstrtab
    - .mdebug
    - .mdebug.abi32

  find_file_boundaries: True
  header_encoding: ASCII

  o_as_suffix: True
  use_legacy_include_asm: False
  mips_abi_float_regs: o32

  # section_order: [".text", ".data", ".rodata", ".bss"]
  # auto_link_sections: [".data", ".rodata", ".bss"]

  symbol_addrs_path:
    - config/us/sym/symbol_addrs.txt
    - config/us/sym/symbol_addrs_libultra.txt
  reloc_addrs_path:
    - config/us/sym/reloc_addrs.txt

  undefined_funcs_auto_path: build/splat_out/us/undefined_funcs_auto.txt
  undefined_syms_auto_path: build/splat_out/us/undefined_syms_auto.txt

  extensions_path: tools/splat_ext

  # string_encoding: ASCII
  # data_string_encoding: ASCII
  rodata_string_guesser_level: 2
  data_string_guesser_level: 2
  libultra_symbols: True
  hardware_regs: True
  gfx_ucode: f3dex
  migrate_rodata_to_functions: True

segments:
  - name: header
    type: header
    start: 0x0

  - name: ipl3
    type: bin
    start: 0x40

  - name: entry
    type: code
    start: 0x1000
    vram: 0x80000400
    subsegments:
      - [0x1000, hasm, entrypoint]

  - name: main
    type: code
    start: 0x1060
    vram: 0x80000460
    follows_vram: entry
    subsegments:
      - [0x01060, c, game/code_1060]
      - [0x01B90, c, game/code_1B90]
      - [0x01DA0, c, game/code_1DA0]
      - [0x03050, c, game/code_3050]
      - [0x03A80, c, game/code_3A80]
      - [0x04CA0, c, game/code_4CA0]
      - [0x04D60, c, game/code_4D60]
      - [0x05420, c, game/code_5420]
      - [0x05A10, c, game/code_5A10]
      - [0x0AC90, c, game/code_AC90]
      - [0x0B1E0, c, game/code_B1E0]
      - [0x0D830, c, game/code_D830]
      - [0x104D0, c, game/code_104D0]
      - [0x13F20, c, game/code_13F20]
      - [0x18770, c, game/code_18770]
      - [0x1CF80, c, game/code_1CF80]
      - [0x2AE90, c, game/code_2AE90]
      - [0x47930, c, game/code_47930]
      - [0x54460, c, game/code_54460]
      - [0x5EB00, c, game/code_5EB00]
      - [0x5F8D0, c, game/code_5F8D0]
      - [0x695D0, c, game/code_695D0]
      - [0x70FE0, c, game/code_70FE0]
      - [0x83B40, c, game/code_83B40]
      - [0xB2590, c, game/code_B2590]
      - [0xB6B70, c, game/code_B6B70]
      - [0xBE160, c, game/code_BE160]
      - [0xBEAA0, c, tools/ultralib/src/os/sendmesg]
      - [0xBEBF0, c, tools/ultralib/src/io/pfsfreeblocks]
      - [0xBED40, c, tools/ultralib/src/audio/sndpdelete]
      - [0xBED70, c, tools/ultralib/src/os/recvmesg]
      - [0xBEEB0, c, tools/ultralib/src/audio/sl]
      - [0xBEF70, c, tools/ultralib/src/gu/scale]
      - [0xBF010, c, tools/ultralib/src/gu/sinf]
      - [0xBF1D0, hasm, tools/ultralib/src/os/exceptasm]
      - [0xBFAE0, c, tools/ultralib/src/os/thread]
      - [0xBFB20, c, tools/ultralib/src/os/destroythread]
      - [0xBFC30, c, tools/ultralib/src/audio/seqpsetbank]
      - [0xBFC70, c, tools/ultralib/src/io/leointerrupt]
      - [0xC04F0, c, tools/ultralib/src/io/controller]
      - [0xC0830, c, tools/ultralib/src/io/siacs]
      - [0xC08F0, c, tools/ultralib/src/os/createthread]
      - [0xC0A40, c, tools/ultralib/src/audio/sndpstop]
      - [0xC0A90, c, tools/ultralib/src/io/contreaddata]
      - [0xC0CB0, c, tools/ultralib/src/audio/bnkf]
      - [0xC0F00, c, tools/ultralib/src/audio/sndplayer]
      - [0xC1610, hasm, tools/ultralib/src/os/setintmask]
      - [0xC16B0, c, tools/ultralib/src/audio/synsetvol]
      - [0xC1750, c, tools/ultralib/src/audio/event]
      - [0xC1A90, c, tools/ultralib/src/audio/synfreevoice]
      - [0xC1B40, c, tools/ultralib/src/audio/synallocvoice]
      - [0xC1D70, c, tools/ultralib/src/audio/seqplayer]
      - [0xC36B0, c, tools/ultralib/src/audio/synsetpriority]
      - [0xC36C0, c, tools/ultralib/src/audio/seq]
      - [0xC3CE0, c, tools/ultralib/src/os/virtualtophysical]
      - [0xC3D60, hasm, tools/ultralib/src/os/writebackdcache]
      - [0xC3DE0, c, tools/ultralib/src/os/initialize]
      - [0xC4070, c, tools/ultralib/src/io/pirawread]
      - [0xC40D0, c, tools/ultralib/src/libc/ll]
      - [0xC4390, hasm, tools/ultralib/src/libc/bzero]
      - [0xC4430, hasm, tools/ultralib/src/os/parameters]
      - [0xC4490, hasm, tools/ultralib/src/os/setsr]
      - [0xC44A0, hasm, tools/ultralib/src/os/getsr]
      - [0xC44B0, c, tools/ultralib/src/audio/seqpstop]
      - [0xC44E0, c, tools/ultralib/src/gu/perspective]
      - [0xC4770, c, tools/ultralib/src/audio/synstartvoice]
      - [0xC4800, c, tools/ultralib/src/io/sirawdma]
      - [0xC48B0, c, tools/ultralib/src/audio/sndpsetfxmix]
      - [0xC4910, c, tools/ultralib/src/io/viblack]
      - [0xC4980, c, tools/ultralib/src/io/sirawread]
      - [0xC49D0, c, tools/ultralib/src/audio/sndpplayat]
      - [0xC4A20, c, tools/ultralib/src/io/pfsreadwritefile]
      - [0xC4F40, c, tools/ultralib/src/gu/mtxutil]
      - [0xC51B0, c, tools/ultralib/src/audio/seqpsetseq]
      - [0xC51F0, c, tools/ultralib/src/audio/sndpsetsound]
      - [0xC5210, c, tools/ultralib/src/io/motor]
      - [0xC59B0, c, tools/ultralib/src/gu/lookat]
      - [0xC5CE0, c, tools/ultralib/src/io/pfsallocatefile]
      - [0xC6490, c, tools/ultralib/src/io/pfsisplug]
      - [0xC67D0, c, tools/ultralib/src/audio/synsetpitch]
      - [0xC6860, hasm, tools/ultralib/src/os/probetlb]
      - [0xC6920, c, tools/ultralib/src/audio/synsetpan]
      - [0xC69B0, asm]
      - [0xC69C0, c, tools/ultralib/src/sched]
      - [0xC7300, c, tools/ultralib/src/io/sptask]
      - [0xC75F0, c, tools/ultralib/src/io/vigetnextframebuf]
      - [0xC7630, c, tools/ultralib/src/io/sprawdma]
      - [0xC76C0, c, tools/ultralib/src/io/sptaskyield]
      - [0xC76E0, c, tools/ultralib/src/io/visetmode]
      - [0xC7750, c, tools/ultralib/src/io/contpfs]
      - [0xC84B0, hasm, tools/ultralib/src/os/getcount]
      - [0xC84C0, c, tools/ultralib/src/audio/sndpsetpitch]
      - [0xC8520, c, tools/ultralib/src/io/pidma]
      - [0xC8630, c, tools/ultralib/src/gu/lookatref]
      - [0xC8AC0, c, tools/ultralib/src/audio/synthesizer]
      - [0xC91A0, c, tools/ultralib/src/audio/drvrnew]
      - [0xC9940, c, tools/ultralib/src/audio/mainbus]
      - [0xC9A90, c, tools/ultralib/src/audio/reverb]
      - [0xCA6E0, c, tools/ultralib/src/audio/auxbus]
      - [0xCA7F0, c, tools/ultralib/src/audio/env]
      - [0xCB450, c, tools/ultralib/src/audio/resample]
      - [0xCB750, c, tools/ultralib/src/io/pfssearchfile]
      - [0xCB910, c, tools/ultralib/src/audio/load]
      - [0xCC460, c, tools/ultralib/src/io/pimgr]
      - [0xCC5F0, c, tools/ultralib/src/io/cartrominit]
      - [0xCC6F0, c, tools/ultralib/src/io/piacs]
      - [0xCC7B0, asm]
      - [0xCC7C0, c, tools/ultralib/src/io/devmgr]
      - [0xCCC50, c, tools/ultralib/src/io/pirawdma]
      - [0xCCD30, c, tools/ultralib/src/os/seteventmesg]
      - [0xCCDA0, hasm, tools/ultralib/src/gu/sqrtf]
      - [0xCCDB0, c, tools/ultralib/src/gu/mtxcatl]
      - [0xCCE70, c, tools/ultralib/src/gu/mtxcatf]
      - [0xCD080, c, tools/ultralib/src/gu/random]
      - [0xCD0B0, c, tools/ultralib/src/audio/filter]
      - [0xCD0D0, c, tools/ultralib/src/libc/sprintf]
      - [0xCD150, c, tools/ultralib/src/libc/xprintf]
      - [0xCDE10, c, tools/ultralib/src/audio/seqpsetvol]
      - [0xCDE50, c, tools/ultralib/src/audio/heapinit]
      - [0xCDE90, c, tools/ultralib/src/io/leodiskinit]
      - [0xCDF90, c, tools/ultralib/src/libc/syncprintf]
      - [0xCDFD0, c, tools/ultralib/src/audio/sndpsetvol]
      - [0xCE030, c, tools/ultralib/src/audio/seqploop]
      - [0xCE070, c, tools/ultralib/src/libc/string]
      - [0xCE110, c, tools/ultralib/src/os/createmesgqueue]
      - [0xCE140, hasm, tools/ultralib/src/os/invalicache]
      - [0xCE1C0, hasm, tools/ultralib/src/os/invaldcache]
      - [0xCE270, c, tools/ultralib/src/audio/synsetfxmix]
      - [0xCE310, c, tools/ultralib/src/audio/save]
      - [0xCE3D0, c, tools/ultralib/src/audio/synremoveplayer]
      - [0xCE470, c, tools/ultralib/src/io/pfsrepairid]
      - [0xCE6D0, c, tools/ultralib/src/io/si]
      - [0xCE700, c, tools/ultralib/src/io/sp]
      - [0xCE730, c, tools/ultralib/src/os/jammesg]
      - [0xCE880, c, tools/ultralib/src/os/setthreadpri]
      - [0xCE960, c, tools/ultralib/src/os/getthreadpri]
      - [0xCE980, c, tools/ultralib/src/io/viswapbuf]
      - [0xCE9D0, c, tools/ultralib/src/gu/position]
      - [0xCEBF0, c, tools/ultralib/src/io/epirawdma]
      - [0xCEE20, c, tools/ultralib/src/io/sptaskyielded]
      - [0xCEEA0, c, tools/ultralib/src/audio/sndpdeallocate]
      - [0xCEEF0, c, tools/ultralib/src/os/gettime]
      - [0xCEF80, c, tools/ultralib/src/os/timerintr]
      - [0xCF380, c, tools/ultralib/src/gu/rotate]
      - [0xCF570, c, tools/ultralib/src/os/setglobalintmask]
      - [0xCF5C0, c, tools/ultralib/src/io/aisetfreq]
      - [0xCF720, c, tools/ultralib/src/io/crc]
      - [0xCF8A0, c, tools/ultralib/src/gu/normalize]
      - [0xCF930, hasm, tools/ultralib/src/os/setcompare]
      - [0xCF940, c, tools/ultralib/src/audio/copy]
      - [0xCF9C0, hasm, tools/ultralib/src/libc/bcopy]
      - [0xCFCD0, c, tools/ultralib/src/os/resetglobalintmask]
      - [0xCFD30, c, tools/ultralib/src/io/pfsdeletefile]
      - [0xD0350, hasm, tools/ultralib/src/os/interrupt]
      - [0xD0390, c, tools/ultralib/src/io/vi]
      - [0xD04D0, c, tools/ultralib/src/io/viswapcontext]
      - [0xD0830, c, tools/ultralib/src/io/pigetcmdq]
      - [0xD0860, c, tools/ultralib/src/gu/cosf]
      - [0xD09D0, c, tools/ultralib/src/io/visetspecial]
      - [0xD0B90, c, tools/ultralib/src/io/visetevent]
      - [0xD0C00, c, tools/ultralib/src/audio/sndpsetpan]
      - [0xD0C60, c, tools/ultralib/src/audio/synaddplayer]
      - [0xD0CB0, c, tools/ultralib/src/io/pfsnumfiles]
      - [0xD0E00, c, tools/ultralib/src/audio/seqpgetstate]
      - [0xD0E10, c, tools/ultralib/src/audio/sndpgetstate]
      - [0xD0E30, hasm, tools/ultralib/src/os/setfpccsr]
      - [0xD0E40, c, tools/ultralib/src/io/pfsfilestate]
      - [0xD1130, c, tools/ultralib/src/io/pfsinitpak]
      - [0xD13D0, c, tools/ultralib/src/io/pfsgetstatus]
      - [0xD1610, c, tools/ultralib/src/io/pfschecker]
      - [0xD2070, c, tools/ultralib/src/io/aigetlen]
      - [0xD2080, c, tools/ultralib/src/audio/seqpplay]
      - [0xD20B0, c, tools/ultralib/src/io/pfsgetlabel]
      - [0xD2170, c, tools/ultralib/src/io/epirawread]
      - [0xD2310, hasm, tools/ultralib/src/os/maptlbrdb]
      - [0xD2370, c, tools/ultralib/src/os/yieldthread]
      - [0xD23C0, c, tools/ultralib/src/gu/translate]
      - [0xD2460, c, tools/ultralib/src/audio/cents2ratio]
      - [0xD24B0, c, tools/ultralib/src/audio/synstartvoiceparam]
      - [0xD25A0, c, tools/ultralib/src/io/contramwrite]
      - [0xD2900, c, tools/ultralib/src/io/epirawwrite]
      - [0xD2A90, c, tools/ultralib/src/os/settimer]
      - [0xD2B70, c, tools/ultralib/src/libc/xldtob]
      - [0xD3630, c, tools/ultralib/src/libc/ldiv]
      - [0xD37C0, c, tools/ultralib/src/libc/xlitob]
      - [0xD3A60, c, tools/ultralib/src/io/sirawwrite]
      - [0xD3AB0, c, tools/ultralib/src/io/dpsetnextbuf]
      - [0xD3B60, c, tools/ultralib/src/io/dp]
      - [0xD3B90, c, tools/ultralib/src/io/spsetstat]
      - [0xD3BA0, c, tools/ultralib/src/io/spgetstat]
      - [0xD3BB0, hasm, tools/ultralib/src/os/writebackdcacheall]
      - [0xD3BE0, c, tools/ultralib/src/audio/heapalloc]
      - [0xD3C40, c, tools/ultralib/src/io/contramread]
      - [0xD3FA0, c, tools/ultralib/src/os/startthread]
      - [0xD40F0, c, tools/ultralib/src/audio/synallocfx]
      - [0xD4190, asm]
      - [0xD41A0, c, tools/ultralib/src/io/vimgr]
      - [0xD4500, c, tools/ultralib/src/io/vigetcurrcontext]
      - [0xD4510, c, tools/ultralib/src/audio/sndpallocate]
      - [0xD45B0, c, tools/ultralib/src/audio/synstopvoice]
      - [0xD4630, c, tools/ultralib/src/audio/syndelete]
      - [0xD4640, c, tools/ultralib/src/gu/align]
      - [0xD4850, c, tools/ultralib/src/io/aisetnextbuf]
      - [0xD4900, c, tools/ultralib/src/io/ai]
      - [0xD4930, c, tools/ultralib/src/io/vigetcurrframebuf]
      - [0xD4970, c, tools/ultralib/src/io/spsetpc]

      - [0xD49B0, textbin, rspboot]
      - [0xD4A80, textbin, f3dex]
      - [0xD5EB0, textbin, aspMain]

      - [0xD6CD0, data]

  - name: codeseg1
    type: code
    start: 0xE15F0
    vram: 0x80147F10
    subsegments:
      - [0xE15F0, c, codeseg1/code_0xE15F0]
      - [0xEB710, c, codeseg1/code_0xEB710]
      - [0xF3DA0, data]
#     - [0xF3DB0, .rodata, codeseg1/code_0xE15F0]
#     - [0xF4220, .rodata, codeseg1/code_0xEB710]

  - name: bin_F4440
    type: bin
    start: 0xF4440

  - name: codeseg2
    type: code
    start: 0x1C6C00
    vram: 0x8026B000
    subsegments:
      - [0x1C6C00, c, codeseg2/code_0x1C6C00]
      - [0x1C9C80, data]
#     - [0x1C9C90, rodata, codeseg2/code_0x1C6C00]

  - name: bin_1C9D40
    type: bin
    start: 0x1C9D40

  - [0x800000]
