name: Superman (North America)
sha1: c271db752610c9581e1ba1e9125ea8ecdb56f74f
options:
  basename: superman
  target_path: config/us/baserom.us.z64
  elf_path: build/superman.elf
  base_path: ../..
  platform: n64
  compiler: IDO

  asm_path: asm
  src_path: src
  asset_path: bin
  build_path: build
  create_asm_dependencies: True
  asm_emit_size_directive: True
  disasm_unknown: True

  ld_script_path: build/superman.us.ld
  ld_dependencies: True

  find_file_boundaries: True
  header_encoding: ASCII

  o_as_suffix: True
  use_legacy_include_asm: False
  mips_abi_float_regs: o32

  # section_order: [".text", ".data", ".rodata", ".bss"]
  # auto_link_sections: [".data", ".rodata", ".bss"]

  symbol_addrs_path:
    - config/us/sym/symbol_addrs.txt
    - config/us/sym/libultra_symbols.txt
  reloc_addrs_path:
    - config/us/sym/reloc_addrs.txt

  undefined_funcs_auto_path: build/splat_out/us/undefined_funcs_auto.txt
  undefined_syms_auto_path: build/splat_out/us/undefined_syms_auto.txt

  extensions_path: tools/splat_ext

  # string_encoding: ASCII
  # data_string_encoding: ASCII
  rodata_string_guesser_level: 2
  data_string_guesser_level: 2
  libultra_symbols: True
  hardware_regs: True
  gfx_ucode: f3dex
  migrate_rodata_to_functions: True

segments:
  - name: header
    type: header
    start: 0x0

  - name: ipl3
    type: bin
    start: 0x40

  - name: entry
    type: code
    start: 0x1000
    vram: 0x80000400
    subsegments:
      - [0x1000, hasm]

  - name: main
    type: code
    start: 0x1060
    vram: 0x80000460
    follows_vram: entry
    subsegments:
      - [0x1060, asm]
      - [0x1B90, asm]
      - [0x1DA0, asm]
      - [0x3050, asm]
      - [0x3A80, asm]
      - [0x4CA0, asm]
      - [0x4D60, asm]
      - [0x5420, asm]
      - [0x5A10, asm]
      - [0xAC90, asm]
      - [0xB1E0, asm]
      - [0xD830, asm]
      - [0x104D0, asm]
      - [0x13F20, asm]
      - [0x18770, asm]
      - [0x1CF80, asm]
      - [0x2AE90, asm]
      - [0x47930, asm]
      - [0x54460, asm]
      - [0x5EB00, asm]
      - [0x5F8D0, asm]
      - [0x695D0, asm]
      - [0x70FE0, asm]
      - [0x83B40, asm]
      - [0xB2590, asm]
      - [0xBE160, asm]
      - [0xBEBF0, asm]
      - [0xBED40, asm]
      - [0xBED70, asm]
      - [0xBEEB0, asm]
      - [0xBF010, asm]
      - [0xBFAE0, asm]
      - [0xBFC30, asm]
      - [0xBFC70, asm]
      - [0xC04F0, asm]
      - [0xC0830, asm]
      - [0xC0A40, asm]
      - [0xC0A90, asm]
      - [0xC0F00, asm]
      - [0xC1610, asm]
      - [0xC1750, asm]
      - [0xC1D70, asm]
      - [0xC36B0, asm]
      - [0xC3D60, asm]
      - [0xC3DE0, asm]
      - [0xC4070, asm]
      - [0xC40D0, asm]
      - [0xC4490, asm]
      - [0xC44B0, asm]
      - [0xC4770, asm]
      - [0xC4800, asm]
      - [0xC48B0, asm]
      - [0xC4910, asm]
      - [0xC4A20, asm]
      - [0xC4F40, asm]
      - [0xC51B0, asm]
      - [0xC51F0, asm]
      - [0xC5210, asm]
      - [0xC59B0, asm]
      - [0xC6490, asm]
      - [0xC6860, asm]
      - [0xC6920, asm]
      - [0xC69C0, asm]
      - [0xC7300, asm]
      - [0xC75F0, asm]
      - [0xC76C0, asm]
      - [0xC7750, asm]
      - [0xC84B0, asm]
      - [0xC84C0, asm]
      - [0xC8520, asm]
      - [0xC8630, asm]
      - [0xC8AC0, asm]
      - [0xC9940, asm]
      - [0xCA6E0, asm]
      - [0xCA7F0, asm]
      - [0xCB450, asm]
      - [0xCB750, asm]
      - [0xCB910, asm]
      - [0xCC460, asm]
      - [0xCC5F0, asm]
      - [0xCC6F0, asm]
      - [0xCC7C0, asm]
      - [0xCCDA0, asm]
      - [0xCCDB0, asm]
      - [0xCCE70, asm]
      - [0xCD080, asm]
      - [0xCD0B0, asm]
      - [0xCD0D0, asm]
      - [0xCD150, asm]
      - [0xCDE10, asm]
      - [0xCDE50, asm]
      - [0xCDE90, asm]
      - [0xCDFD0, asm]
      - [0xCE030, asm]
      - [0xCE070, asm]
      - [0xCE110, asm]
      - [0xCE140, asm]
      - [0xCE1C0, asm]
      - [0xCE270, asm]
      - [0xCE310, asm]
      - [0xCE470, asm]
      - [0xCE6D0, asm]
      - [0xCE700, asm]
      - [0xCE730, asm]
      - [0xCE980, asm]
      - [0xCEBF0, asm]
      - [0xCEE20, asm]
      - [0xCEF80, asm]
      - [0xCF570, asm]
      - [0xCF5C0, asm]
      - [0xCF930, asm]
      - [0xCF940, asm]
      - [0xCF9C0, asm]
      - [0xCFCD0, asm]
      - [0xCFD30, asm]
      - [0xD0350, asm]
      - [0xD0390, asm]
      - [0xD04D0, asm]
      - [0xD0830, asm]
      - [0xD0860, asm]
      - [0xD09D0, asm]
      - [0xD0B90, asm]
      - [0xD0C00, asm]
      - [0xD0C60, asm]
      - [0xD0E00, asm]
      - [0xD0E10, asm]
      - [0xD13D0, asm]
      - [0xD2080, asm]
      - [0xD2170, asm]
      - [0xD2310, asm]
      - [0xD2370, asm]
      - [0xD23C0, asm]
      - [0xD2460, asm]
      - [0xD25A0, asm]
      - [0xD2900, asm]
      - [0xD2B70, asm]
      - [0xD3630, asm]
      - [0xD37C0, asm]
      - [0xD3A60, asm]
      - [0xD3AB0, asm]
      - [0xD3B60, asm]
      - [0xD3B90, asm]
      - [0xD3BA0, asm]
      - [0xD3BB0, asm]
      - [0xD3BE0, asm]
      - [0xD3C40, asm]
      - [0xD3FA0, asm]
      - [0xD41A0, asm]
      - [0xD4500, asm]
      - [0xD4510, asm]
      - [0xD45B0, asm]
      - [0xD4630, asm]
      - [0xD4640, asm]
      - [0xD4900, asm]

  - type: bin
    start: 0xD49B0
    follows_vram: main

  - [0x800000]
