name: Superman (North America)
sha1: c271db752610c9581e1ba1e9125ea8ecdb56f74f
options:
  basename: superman
  target_path: baserom.us.z64
  elf_path: build/superman.elf
  base_path: ../..
  platform: n64
  compiler: IDO

  asm_path: asm
  src_path: src
  asset_path: bin
  build_path: build
  create_asm_dependencies: True
  asm_emit_size_directive: True
  disasm_unknown: True

  ld_script_path: build/superman.us.ld
  ld_dependencies: True

  find_file_boundaries: True
  header_encoding: ASCII

  o_as_suffix: True
  use_legacy_include_asm: False
  mips_abi_float_regs: o32

  # section_order: [".text", ".data", ".rodata", ".bss"]
  # auto_link_sections: [".data", ".rodata", ".bss"]

  symbol_addrs_path:
    - config/us/sym/libultra_symbols.txt
    - config/us/sym/symbol_addrs.txt
  reloc_addrs_path:
    - config/us/sym/reloc_addrs.txt

  undefined_funcs_auto_path: build/splat_out/us/undefined_funcs_auto.txt
  undefined_syms_auto_path: build/splat_out/us/undefined_syms_auto.txt

  extensions_path: tools/splat_ext

  # string_encoding: ASCII
  # data_string_encoding: ASCII
  rodata_string_guesser_level: 2
  data_string_guesser_level: 2
  libultra_symbols: True
  hardware_regs: True
  gfx_ucode: f3dex
  migrate_rodata_to_functions: True

segments:
  - name: header
    type: header
    start: 0x0

  - name: ipl3
    type: bin
    start: 0x40

  - name: entry
    type: code
    start: 0x1000
    vram: 0x80000400
    subsegments:
      - [0x1000, hasm, entrypoint]

  - name: main
    type: code
    start: 0x1060
    vram: 0x80000460
    follows_vram: entry
    subsegments:
      - [0x01060, c, game/code_1060]
      - [0x01B90, c, game/code_1B90]
      - [0x01DA0, c, game/code_1DA0]
      - [0x03050, c, game/code_3050]
      - [0x03A80, c, game/code_3A80]
      - [0x04CA0, c, game/code_4CA0]
      - [0x04D60, c, game/code_4D60]
      - [0x05420, c, game/code_5420]
      - [0x05A10, c, game/code_5A10]
      - [0x0AC90, c, game/code_AC90]
      - [0x0B1E0, c, game/code_B1E0]
      - [0x0D830, c, game/code_D830]
      - [0x104D0, c, game/code_104D0]
      - [0x13F20, c, game/code_13F20]
      - [0x18770, c, game/code_18770]
      - [0x1CF80, c, game/code_1CF80]
      - [0x2AE90, c, game/code_2AE90]
      - [0x47930, c, game/code_47930]
      - [0x54460, c, game/code_54460]
      - [0x5EB00, c, game/code_5EB00]
      - [0x5F8D0, c, game/code_5F8D0]
      - [0x695D0, c, game/code_695D0]
      - [0x70FE0, c, game/code_70FE0]
      - [0x83B40, c, game/code_83B40]
      - [0xB2590, c, game/code_B2590]
      - [0xB6B70, c, game/code_B6B70]
      - [0xBE160, c, game/code_BE160]
      - [0xBEAA0, c, sendmesg]
      - [0xBEBF0, c, pfsfreeblocks]
      - [0xBED40, c, sndpdelete]
      - [0xBED70, c, recvmesg]
      - [0xBEEB0, c, sl]
      - [0xBEF70, c, scale]
      - [0xBF010, c, sinf]
      - [0xBF1D0, hasm, exceptasm]
      - [0xBFAE0, c, thread]
      - [0xBFB20, c, destroythread]
      - [0xBFC30, c, seqpsetbank]
      - [0xBFC70, c, leointerrupt]
      - [0xC04F0, c, controller]
      - [0xC0830, c, siacs]
      - [0xC08F0, c, createthread]
      - [0xC0A40, c, sndpstop]
      - [0xC0A90, c, contreaddata]
      - [0xC0CB0, c, bnkf]
      - [0xC0F00, c, sndplayer]
      - [0xC1610, hasm, setintmask]
      - [0xC16B0, c, synsetvol]
      - [0xC1750, c, event]
      - [0xC1A90, c, synfreevoice]
      - [0xC1B40, c, synallocvoice]
      - [0xC1D70, c, seqplayer]
      - [0xC36B0, c, synsetpriority]
      - [0xC36C0, c, seq]
      - [0xC3CE0, c, virtualtophysical]
      - [0xC3D60, hasm, writebackdcache]
      - [0xC3DE0, c, initialize]
      - [0xC4070, c, pirawread]
      - [0xC40D0, c, ll]
      - [0xC4390, hasm, bzero]
      - [0xC4430, hasm, parameters]
      - [0xC4490, hasm, setsr]
      - [0xC44A0, hasm, getsr]
      - [0xC44B0, c, seqpstop]
      - [0xC44E0, c, perspective]
      - [0xC4770, c, synstartvoice]
      - [0xC4800, c, sirawdma]
      - [0xC48B0, c, sndpsetfxmix]
      - [0xC4910, c, viblack]
      - [0xC4980, c, sirawread]
      - [0xC49D0, c, sndpplayat]
      - [0xC4A20, c, pfsreadwritefile]
      - [0xC4F40, c, mtxutil]
      - [0xC51B0, c, seqpsetseq]
      - [0xC51F0, c, sndpsetsound]
      - [0xC5210, c, motor]
      - [0xC59B0, c, lookat]
      - [0xC5CE0, c, pfsallocatefile]
      - [0xC6490, c, pfsisplug]
      - [0xC67D0, c, synsetpitch]
      - [0xC6860, hasm, probetlb]
      - [0xC6920, c, synsetpan]
      - [0xC69B0, asm]
      - [0xC69C0, c, sched]
      - [0xC7300, c, sptask]
      - [0xC75F0, c, vigetnextframebuf]
      - [0xC7630, c, sprawdma]
      - [0xC76C0, c, sptaskyield]
      - [0xC76E0, c, visetmode]
      - [0xC7750, c, contpfs]
      - [0xC84B0, hasm, getcount]
      - [0xC84C0, c, sndpsetpitch]
      - [0xC8520, c, pidma]
      - [0xC8630, c, lookatref]
      - [0xC8AC0, c, synthesizer]
      - [0xC91A0, c, drvrnew]
      - [0xC9940, c, mainbus]
      - [0xC9A90, c, reverb]
      - [0xCA6E0, c, auxbus]
      - [0xCA7F0, c, env]
      - [0xCB450, c, resample]
      - [0xCB750, c, pfssearchfile]
      - [0xCB910, c, load]
      - [0xCC460, c, pimgr]
      - [0xCC5F0, c, cartrominit]
      - [0xCC6F0, c, piacs]
      - [0xCC7B0, asm]
      - [0xCC7C0, c, devmgr]
      - [0xCCC50, c, pirawdma]
      - [0xCCD30, c, seteventmesg]
      - [0xCCDA0, hasm, sqrtf]
      - [0xCCDB0, c, mtxcatl]
      - [0xCCE70, c, mtxcatf]
      - [0xCD080, c, random]
      - [0xCD0B0, c, filter]
      - [0xCD0D0, c, sprintf]
      - [0xCD150, c, xprintf]
      - [0xCDE10, c, seqpsetvol]
      - [0xCDE50, c, heapinit]
      - [0xCDE90, c, leodiskinit]
      - [0xCDF90, c, syncprintf]
      - [0xCDFD0, c, sndpsetvol]
      - [0xCE030, c, seqploop]
      - [0xCE070, c, string]
      - [0xCE110, c, createmesgqueue]
      - [0xCE140, hasm, invalicache]
      - [0xCE1C0, hasm, invaldcache]
      - [0xCE270, c, synsetfxmix]
      - [0xCE310, c, save]
      - [0xCE3D0, c, synremoveplayer]
      - [0xCE470, c, pfsrepairid]
      - [0xCE6D0, c, si]
      - [0xCE700, c, sp]
      - [0xCE730, c, jammesg]
      - [0xCE880, c, setthreadpri]
      - [0xCE960, c, getthreadpri]
      - [0xCE980, c, viswapbuf]
      - [0xCE9D0, c, position]
      - [0xCEBF0, c, epirawdma]
      - [0xCEE20, c, sptaskyielded]
      - [0xCEEA0, c, sndpdeallocate]
      - [0xCEEF0, c, gettime]
      - [0xCEF80, c, timerintr]
      - [0xCF380, c, rotate]
      - [0xCF570, c, setglobalintmask]
      - [0xCF5C0, c, aisetfreq]
      - [0xCF720, c, crc]
      - [0xCF8A0, c, normalize]
      - [0xCF930, hasm, setcompare]
      - [0xCF940, c, copy]
      - [0xCF9C0, hasm, bcopy]
      - [0xCFCD0, c, resetglobalintmask]
      - [0xCFD30, c, pfsdeletefile]
      - [0xD0350, hasm, interrupt]
      - [0xD0390, c, vi]
      - [0xD04D0, c, viswapcontext]
      - [0xD0830, c, pigetcmdq]
      - [0xD0860, c, cosf]
      - [0xD09D0, c, visetspecial]
      - [0xD0B90, c, visetevent]
      - [0xD0C00, c, sndpsetpan]
      - [0xD0C60, c, synaddplayer]
      - [0xD0CB0, c, pfsnumfiles]
      - [0xD0E00, c, cspgetstate] # seqpgetstate?
      - [0xD0E10, c, sndpgetstate]
      - [0xD0E30, hasm, setfpccsr]
      - [0xD0E40, c, pfsfilestate]
      - [0xD1130, c, pfsinitpak]
      - [0xD13D0, c, pfsgetstatus]
      - [0xD1610, c, pfschecker]
      - [0xD2070, c, aigetlen]
      - [0xD2080, c, cspplay] # seqpplay?
      - [0xD20B0, c, pfsgetlabel]
      - [0xD2170, c, epirawread]
      - [0xD2310, hasm, maptlbrdb]
      - [0xD2370, c, yieldthread]
      - [0xD23C0, c, translate]
      - [0xD2460, c, cents2ratio]
      - [0xD24B0, c, synstartvoiceparam]
      - [0xD25A0, c, contramwrite]
      - [0xD2900, c, epirawwrite]
      - [0xD2A90, c, settimer]
      - [0xD2B70, c, xldtob]
      - [0xD3630, c, ldiv]
      - [0xD37C0, c, xlitob]
      - [0xD3A60, c, sirawwrite] # sprawwrite?
      - [0xD3AB0, c, dpsetnextbuf]
      - [0xD3B60, c, dp]
      - [0xD3B90, c, spsetstat]
      - [0xD3BA0, c, spgetstat]
      - [0xD3BB0, hasm, writebackdcacheall]
      - [0xD3BE0, c, heapalloc]
      - [0xD3C40, c, contramread]
      - [0xD3FA0, c, startthread]
      - [0xD40F0, c, synallocfx]
      - [0xD4190, asm]
      - [0xD41A0, c, vimgr]
      - [0xD4500, c, vigetcurrcontext]
      - [0xD4510, c, sndpallocate]
      - [0xD45B0, c, synstopvoice]
      - [0xD4630, c, syndelete]
      - [0xD4640, c, align]
      - [0xD4850, c, aisetnextbuf]
      - [0xD4900, c, ai]
      - [0xD4930, c, vigetcurrframebuf]
      - [0xD4970, c, spsetpc]

      - [0xD49B0, textbin, rspboot]
      - [0xD4A80, textbin, f3dex]
      - [0xD5EB0, textbin, aspMain]

      - [0xD6CD0, data]

  - name: codeseg1
    type: code
    start: 0xE15F0
    vram: 0x80147F10
    subsegments:
      - [0xE15F0, c, codeseg1/code_0xE15F0]
      - [0xEB710, c, codeseg1/code_0xEB710]
      - [0xF3DA0, data]
#     - [0xF3DB0, .rodata, codeseg1/code_0xE15F0]
#     - [0xF4220, .rodata, codeseg1/code_0xEB710]

  - name: bin_F4440
    type: bin
    start: 0xF4440

  - name: codeseg2
    type: code
    start: 0x1C6C00
    vram: 0x8026B000
    subsegments:
      - [0x1C6C00, c, codeseg2/code_0x1C6C00]
      - [0x1C9C80, data]
#     - [0x1C9C90, rodata, codeseg2/code_0x1C6C00]

  - name: bin_1C9D40
    type: bin
    start: 0x1C9D40

  - [0x800000]
