name: Superman (North America)
sha1: c271db752610c9581e1ba1e9125ea8ecdb56f74f
options:
  basename: superman
  target_path: config/us/baserom.us.z64
  elf_path: build/superman.elf
  base_path: ../..
  platform: n64
  compiler: IDO

  asm_path: asm
  src_path: src
  asset_path: bin
  build_path: build
  create_asm_dependencies: True
  asm_emit_size_directive: True
  disasm_unknown: True

  ld_script_path: build/superman.us.ld
  ld_dependencies: True

  find_file_boundaries: True
  header_encoding: ASCII

  o_as_suffix: True
  use_legacy_include_asm: False
  mips_abi_float_regs: o32

  # section_order: [".text", ".data", ".rodata", ".bss"]
  # auto_link_sections: [".data", ".rodata", ".bss"]

  symbol_addrs_path:
    - config/us/sym/symbol_addrs.txt
    - config/us/sym/libultra_symbols.txt
  reloc_addrs_path:
    - config/us/sym/reloc_addrs.txt

  undefined_funcs_auto_path: build/splat_out/us/undefined_funcs_auto.txt
  undefined_syms_auto_path: build/splat_out/us/undefined_syms_auto.txt

  extensions_path: tools/splat_ext

  # string_encoding: ASCII
  # data_string_encoding: ASCII
  rodata_string_guesser_level: 2
  data_string_guesser_level: 2
  libultra_symbols: True
  hardware_regs: True
  gfx_ucode: f3dex
  migrate_rodata_to_functions: True

segments:
  - name: header
    type: header
    start: 0x0

  - name: ipl3
    type: bin
    start: 0x40

  - name: entry
    type: code
    start: 0x1000
    vram: 0x80000400
    subsegments:
      - [0x1000, hasm]

  - name: main
    type: code
    start: 0x1060
    vram: 0x80000460
    follows_vram: entry
    subsegments:
      - [0x1060, c, game/code_0x1060]
      - [0x1B90, c, game/code_0x1B90]
      - [0x1DA0, c, game/code_0x1DA0]
      - [0x3050, c, game/code_0x3050]
      - [0x3A80, c, game/code_0x3A80]
      - [0x4CA0, c, game/code_0x4CA0]
      - [0x4D60, c, game/code_0x4D60]
      - [0x5420, c, game/code_0x5420]
      - [0x5A10, c, game/code_0x5A10]
      - [0xAC90, c, game/code_0xAC90]
      - [0xB1E0, c, game/code_0xB1E0]
      - [0xD830, c, game/code_0xD830]
      - [0x104D0, c, game/code_0x104D0]
      - [0x13F20, c, game/code_0x13F20]
      - [0x18770, c, game/code_0x18770]
      - [0x1CF80, c, game/code_0x1CF80]
      - [0x2AE90, c, game/code_0x2AE90]
      - [0x47930, c, game/code_0x47930]
      - [0x54460, c, game/code_0x54460]
      - [0x5EB00, c, game/code_0x5EB00]
      - [0x5F8D0, c, game/code_0x5F8D0]
      - [0x695D0, c, game/code_0x695D0]
      - [0x70FE0, c, game/code_0x70FE0]
      - [0x83B40, c, game/code_0x83B40]
      - [0xB2590, c, game/code_0xB2590]
      - [0xBE160, c, game/code_0xBE160]
      - [0xBEBF0, c, game/code_0xBEBF0]
      - [0xBED40, c, game/code_0xBED40]
      - [0xBED70, c, game/code_0xBED70]
      - [0xBEEB0, c, game/code_0xBEEB0]
      - [0xBF010, hasm]
      - [0xBFAE0, c, game/code_0xBFAE0]
      - [0xBFC30, c, game/code_0xBFC30]
      - [0xBFC70, c, game/code_0xBFC70]
      - [0xC04F0, c, game/code_0xC04F0]
      - [0xC0830, c, game/code_0xC0830]
      - [0xC0A40, c, game/code_0xC0A40]
      - [0xC0A90, c, game/code_0xC0A90]
      - [0xC0F00, c, game/code_0xC0F00]
      - [0xC1610, hasm]
      - [0xC1750, c, game/code_0xC1750]
      - [0xC1D70, c, game/code_0xC1D70]
      - [0xC36B0, c, game/code_0xC36B0]
      - [0xC3D60, hasm]
      - [0xC3DE0, c, game/code_0xC3DE0]
      - [0xC4070, c, game/code_0xC4070]
      - [0xC40D0, c, game/code_0xC40D0]
      - [0xC4490, hasm]
      - [0xC44B0, c, game/code_0xC44B0]
      - [0xC4770, c, game/code_0xC4770]
      - [0xC4800, c, game/code_0xC4800]
      - [0xC48B0, c, game/code_0xC48B0]
      - [0xC4910, c, game/code_0xC4910]
      - [0xC4A20, c, game/code_0xC4A20]
      - [0xC4F40, c, game/code_0xC4F40]
      - [0xC51B0, c, game/code_0xC51B0]
      - [0xC51F0, c, game/code_0xC51F0]
      - [0xC5210, c, game/code_0xC5210]
      - [0xC59B0, c, game/code_0xC59B0]
      - [0xC6490, c, game/code_0xC6490]
      - [0xC6860, hasm]
      - [0xC6920, c, game/code_0xC6920]
      - [0xC69C0, c, game/code_0xC69C0]
      - [0xC7300, c, game/code_0xC7300]
      - [0xC75F0, c, game/code_0xC75F0]
      - [0xC76C0, c, game/code_0xC76C0]
      - [0xC7750, c, game/code_0xC7750]
      - [0xC84B0, hasm]
      - [0xC84C0, c, game/code_0xC84C0]
      - [0xC8520, c, game/code_0xC8520]
      - [0xC8630, c, game/code_0xC8630]
      - [0xC8AC0, c, game/code_0xC8AC0]
      - [0xC9940, c, game/code_0xC9940]
      - [0xCA6E0, c, game/code_0xCA6E0]
      - [0xCA7F0, c, game/code_0xCA7F0]
      - [0xCB450, c, game/code_0xCB450]
      - [0xCB750, c, game/code_0xCB750]
      - [0xCB910, c, game/code_0xCB910]
      - [0xCC460, c, game/code_0xCC460]
      - [0xCC5F0, c, game/code_0xCC5F0]
      - [0xCC6F0, c, game/code_0xCC6F0]
      - [0xCC7C0, c, game/code_0xCC7C0]
      - [0xCCDA0, c, game/code_0xCCDA0]
      - [0xCCDB0, c, game/code_0xCCDB0]
      - [0xCCE70, c, game/code_0xCCE70]
      - [0xCD080, c, game/code_0xCD080]
      - [0xCD0B0, c, game/code_0xCD0B0]
      - [0xCD0D0, c, game/code_0xCD0D0]
      - [0xCD150, c, game/code_0xCD150]
      - [0xCDE10, c, game/code_0xCDE10]
      - [0xCDE50, c, game/code_0xCDE50]
      - [0xCDE90, c, game/code_0xCDE90]
      - [0xCDFD0, c, game/code_0xCDFD0]
      - [0xCE030, c, game/code_0xCE030]
      - [0xCE070, c, game/code_0xCE070]
      - [0xCE110, c, game/code_0xCE110]
      - [0xCE140, hasm]
      - [0xCE1C0, hasm]
      - [0xCE270, c, game/code_0xCE270]
      - [0xCE310, c, game/code_0xCE310]
      - [0xCE470, c, game/code_0xCE470]
      - [0xCE6D0, c, game/code_0xCE6D0]
      - [0xCE700, c, game/code_0xCE700]
      - [0xCE730, c, game/code_0xCE730]
      - [0xCE980, c, game/code_0xCE980]
      - [0xCEBF0, c, game/code_0xCEBF0]
      - [0xCEE20, c, game/code_0xCEE20]
      - [0xCEF80, c, game/code_0xCEF80]
      - [0xCF570, c, game/code_0xCF570]
      - [0xCF5C0, c, game/code_0xCF5C0]
      - [0xCF930, hasm]
      - [0xCF940, c, game/code_0xCF940]
      - [0xCF9C0, hasm]
      - [0xCFCD0, c, game/code_0xCFCD0]
      - [0xCFD30, c, game/code_0xCFD30]
      - [0xD0350, hasm]
      - [0xD0390, c, game/code_0xD0390]
      - [0xD04D0, c, game/code_0xD04D0]
      - [0xD0830, c, game/code_0xD0830]
      - [0xD0860, c, game/code_0xD0860]
      - [0xD09D0, c, game/code_0xD09D0]
      - [0xD0B90, c, game/code_0xD0B90]
      - [0xD0C00, c, game/code_0xD0C00]
      - [0xD0C60, c, game/code_0xD0C60]
      - [0xD0E00, c, game/code_0xD0E00]
      - [0xD0E10, c, game/code_0xD0E10]
      - [0xD13D0, c, game/code_0xD13D0]
      - [0xD2080, c, game/code_0xD2080]
      - [0xD2170, c, game/code_0xD2170]
      - [0xD2310, hasm]
      - [0xD2370, c, game/code_0xD2370]
      - [0xD23C0, c, game/code_0xD23C0]
      - [0xD2460, c, game/code_0xD2460]
      - [0xD25A0, c, game/code_0xD25A0]
      - [0xD2900, c, game/code_0xD2900]
      - [0xD2B70, c, game/code_0xD2B70]
      - [0xD3630, c, game/code_0xD3630]
      - [0xD37C0, c, game/code_0xD37C0]
      - [0xD3A60, c, game/code_0xD3A60]
      - [0xD3AB0, c, game/code_0xD3AB0]
      - [0xD3B60, c, game/code_0xD3B60]
      - [0xD3B90, c, game/code_0xD3B90]
      - [0xD3BA0, c, game/code_0xD3BA0]
      - [0xD3BB0, hasm]
      - [0xD3BE0, c, game/code_0xD3BE0]
      - [0xD3C40, c, game/code_0xD3C40]
      - [0xD3FA0, c, game/code_0xD3FA0]
      - [0xD41A0, c, game/code_0xD41A0]
      - [0xD4500, c, game/code_0xD4500]
      - [0xD4510, c, game/code_0xD4510]
      - [0xD45B0, c, game/code_0xD45B0]
      - [0xD4630, c, game/code_0xD4630]
      - [0xD4640, c, game/code_0xD4640]
      - [0xD4900, c, game/code_0xD4900]
      - [0xD4930, c, game/code_0xD4930]
      - [0xD4970, c, game/code_0xD4970]

      - [0xD49B0, textbin, rspboot]
      - [0xD4A80, textbin, f3dex]
      - [0xD5EB0, textbin, aspMain]

      - [0xD6CD0, data]

  - name: codeseg1
    type: code
    start: 0xE15F0 # length 00012e4f
    vram: 0x80147F10
    subsegments:
      - [0xE15F0, c, codeseg1/code_0xE15F0]
      - [0xEB710, c, codeseg1/code_0xEB710]
      - [0xF3DA0, data, codeseg1/code_0xF3DA0]

  - name: bin_F4440
    type: bin
    start: 0xF4440

  - name: bin_103430
    type: bin
    start: 0x103430

  - name: bin_123CD0
    type: bin
    start: 0x123CD0

  - [0x800000]
